@model Proptiwise.Models.Blog
@using Proptiwise.Models
@{
    ViewBag.Title = "AllArticle";
    Layout = "~/Views/Shared/BannerMaster.cshtml";
}


<section class="blog_inner clearfix">
       <div class="container">
            <div class="row">
                 <div class="col-md-9 col-sm-9">
                     <article class="blog_post">
                         <h3>All Articles</h3>
                         <p><a href="#">Uncategorized</a></p>
                         <h4>Uncategorized (98)</h4>
                         <table summary="Uncategorized">
                                <tbody>
                                    <tr>
                                        <th>Date</th>
                                        <th>Title</th>
                                    </tr>
                                    <tr>
                                        <td class="date">2016-03-30</td>
                                        <td><a href="#">Pass Credit Card Fees Onto Tenants</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2016-02-25</td>
                                        <td><a href="#">Public Listings Webpage and Online Applications Now Available</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2016-02-04</td>
                                        <td><a href="#">Mileage Entry</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2016-02-03</td>
                                        <td><a href="#">Print Checks</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2016-02-03</td>
                                        <td><a href="#">Bank Reconciliation for proptiwise</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2015-12-18</td>
                                        <td><a href="#">Theme Support for proptiwise</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2015-11-04</td>
                                        <td><a href="#">New feature: Custom validity ranges for non-rent charges</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2015-08-04</td>
                                        <td><a href="#">Renew Leases more easily with dedicated functionality</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2015-05-23</td>
                                        <td><a href="#">Minor Update: Fixes &amp; Improvements (PDF editor)</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2015-02-24</td>
                                        <td><a href="#">Tenants Can Now Pay You Via Credit Cards</a></td>
                                    </tr>
                                    <tr>
                                        <td class="date">2015-02-09</td>
                                        <td><a href="#">Applicants Module Added Today</a></td>
                                    </tr>

                                </tbody>
                            </table>
                    </article>
                     

                </div>  
                
                <div class="col-md-3 col-sm-4">
                     <aside class="blog_sidebar">
                           <h3>Recent Posts</h3>
                           <ul class="list clearfix">
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                               <li><i aria-hidden="true" class="fa fa-hand-o-right"></i><a href="#">Pass Credit Card Fees Onto Tenants</a></li>
                           </ul>
                     </aside>
                </div>      
            </div>
       </div>
</section>


