@using Proptiwise.Models;
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/BannerMaster.cshtml";
}

<section class="login_panel">
    <div class="login_wrapper clearfix">
        <form class="form-signin" role="form" method="post">
            <h2 class="form-signin-heading" style="color:black;">Forget Password</h2>
            <span>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" class="form-control" name="Email" pattern="^\w+([-+.']\w+)*&#64;\w+([-.]\w+)*\.\w+([-.]\w+)*$" oninvalid="setCustomValidity('Enter Valid Email')" oninput="setCustomValidity('')" placeholder="Email address" required autofocus>
            </span>

            <br />
            <span class="btn_area"><button class="submit_btn" type="submit">Get Password</button></span>

        </form>

    </div>

</section>
@if (ViewBag.Message != null)
{

    <div id="myModal" class="modal hide fade modalErrorMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">

        <div class="modal-body" style="">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <p>@ViewBag.Message</p>
        </div>

    </div>

}
