@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportInventory";
    Layout = "~/Views/Shared/InnerMaster.cshtml";
}

<h2>ReportInventory</h2>

<section class="report_page tab_page">
    <div class="top_tab clearfix">
        <form method="post">
            <ul class="inner_list">
                @*<li class="name_col">
                    <select class="name_field form-control" name="drpBuilding" id="building">
                            <option value="PropertyName">All Buildings</option>
                        </select>
                    @Html.DropDownList("drpBuilding", ViewBag.building as SelectList, new { @class = "name_field form-control", @id = "building" })
                    <button class="sortbtn" name="Command" value="Building"><i class="fa fa-filter" aria-hidden="true"></i></button>
                </li>*@
                <li class="name_col">
                    @Html.DropDownList("drpProperty", ViewBag.property as SelectList, "All", new { @class = "name_field form-control", @id = "property" })
                    @*<select class="name_field form-control" name="drpProperty" id="property">
                <option value="PropertyName">All Properties</option>
            </select>*@
                    <button class="sortbtn" name="Command" value="Property"><i class="fa fa-filter" aria-hidden="true"></i></button>
                </li>


                @*<li class="name_col">
                    <select class="name_field form-control" name="drpProperty" id="property">
                        <option value="PropertyName">All Properties</option>
                    </select>
                    <button class="sortbtn" name="Command" value="Property"><i class="fa fa-filter" aria-hidden="true"></i></button>
                </li>*@
               
                @*<li class="name_col">
                        <select class="name_field form-control" name="drpTenant" id="tenant">
                            <option value="PropertyName">All Tenants</option>
                        </select>
                        <button class="sortbtn" name="Command" value="Tenant"><i class="fa fa-filter" aria-hidden="true"></i></button>
                    </li>*@
               
            </ul>
        </form>
    </div>
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

</section>